# DVC
.dvc/
.dvc/lock
.dvcignore
.dvcconfig
.DS_Store
*/.DS_Store

# Ignore data files
/inputs/data/raw/*
/inputs/data/processed/*
/inputs/data/interim/*

# Ignore cache files
*/__pycache__/*

# Ignore src/getter
# src/getter/*

# Ignore streamlit_app/src/getter
# streamlit_app/src/getter/*

# Ignore python compiled files
*.py[cod]
*.pyc
