## Ignore Python bytecode cache files
*__pycache__/

# Ignore environment-specific settings
*.env

# Ignore IDE and editor files
*.vscode/
*.idea/

# Ignore system-specific files
*.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp

# Ignore dvc files
.dvc/
.dvc.lock
.dvc/config
.dvc/cache/
.dvc/cache.remote/
.dvc/state/
.dvc/logs/
.dvc/metrics/
.dvc/plots/
.dvc/externals/

